RewriteEngine On
RewriteCond %{HTTPS} !=on
Options All -Indexes
AllowOverride None
ErrorDocument 400 /errors/bad-request.html
ErrorDocument 401 /errors/auth-reqd.html
ErrorDocument 403 /errors/forbid.html
ErrorDocument 404 /errors/not-found.html
ErrorDocument 500 /errors/server-error.html
